<h1>Criando um estudo</h1>
<form action="/studies/add" method="POST">
  <div class="form-control">
    <label for="subject">Assunto:</label>
    <input type="text" name="subject" placeholder="Qual matéria você vai estudar?">
  </div>
  <div class="form-control">
    <label for="notes">Anotações:</label>
    <textarea name="notes" placeholder="Escreva suas anotações aqui..."></textarea>
  </div>
  <input type="submit" value="Criar">
</form>
